#jumbotron {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
    border-radius: 0.5rem;
}
.container-size {
    width: 60%;
    margin: 10rem auto;
}
ul {
    padding-left: 3rem;
}
i {
    font-size: 1.4rem;
}
p {
    margin: 0;
}
.clear {
    clear: both;
}
.bgColor {
    background-color: #dae6e5;
    padding: 1rem;
}
#funcCon {
    margin: 2rem 0;
}
#funcCon h4 {
    margin: 0 1rem;
}
#funcCon h5,
#funcCon p {
    margin: 1rem;
}
#erdImg {
    margin: 2rem 0;
}
#erdImg h4 {
    margin: 0 1rem;
}
#erdImg img {
    width: 100%;
    margin: 1rem 0;
    display: none;
}
#pjContent {
    margin: 2rem 0 1rem 1rem;
}
.pjImg {
    width: 20%;
    float: left;
}
.pjText {
    float: left;
    width: 70%;
    margin: 10% 0 10% 5%;
}
#pjContent h5 {
    margin: 1rem 0;
}
/*device size*/
@media screen and (max-width: 767px) {
    .container-size {
        width: 90%;
        margin: 10rem auto;
    }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
    .container-size {
        width: 80%;
        margin: 10rem auto;
    }
}
@media screen and (min-width: 2000px) {
}
